<section class="welcome-page box-row top-xs">
 
  <digi-header 
    label="meu digibank"
    [transparent]="true"
    [returnTo]="'/'"></digi-header>

  <div class="welcome-page-title col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box-row middle-xs">
      <h1 class="font-h3 font-light color-white">seja bem vindo,</h1>
      <h1 class="font-h1x font-light color-white">{{ currentUser?.displayName }}</h1>
    </div>
  </div>
  
</section>

<section class="container-fluid">
  <div class="row">
    <section class="col-lg-4 col-md-6 col-sm-12 col-xs-12 no-padding">
      <div class="card">
        <div class="container-fluid no-padding">
          <div class="row middle-xs no-margin">
            <section class="col-lg col-md col-sm col-xs center-xs">
              <h1 class="font-h4 font-light color-dark-gray">seu saldo atual</h1>
              <h1 class="font-h1 font-normal color-dark-gray">R$ 21.300,00</h1>
            </section> 
          </div>
        </div> 
      </div>
      <digi-list [items]="menuList"></digi-list>
    </section>
  </div>
</section>