<digi-header label="pagar boleto" [returnTo]="'/home'"></digi-header>

<section class="container-fluid">
  <div class="row">
    <section class="col-lg-4 col-md-6 col-sm-12 col-xs-12 no-padding">
      <div class="card">
        <div class="container-fluid no-padding">
          <div class="row middle-xs no-margin">
            <section class="col-lg col-md col-sm col-xs">
              <form class="digi-form">
                <digi-input 
                  [label]="'código de barras do boleto:'"></digi-input>
              </form>
            </section> 
          </div>
        </div> 
      </div>
    </section>
    <section class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding">
      <digi-button 
        [label]="'Scanner'"
        [type]="'default'" 
        [rounded]="true"
        [light]="true"
        (onClickButton)="showScanner()"></digi-button>  
     </section>
    <section class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding"></section>
    <section class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding">
      <digi-button 
        [label]="'Pagar Agora'"
        [type]="'default'" 
        [rounded]="true"
        [light]="true"></digi-button>  
     </section>
  </div>
</section>

<camera-native 
  [maskType]="'scanner'"
  [show]="showCamera"></camera-native>
