@import '../../../../styles';

 header.header {

  width: 100%;
  padding: 15px 0;

  .header--title{
   font-size: 18px;
  }

}

.fixed {
  position: fixed;
}

.default {
  background: $color-white;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 20px 0px rgba(202, 202, 202, 0.4);
  color: $color-dark-gray;

  .header-icon {
    font-size: 33px;
    color: $color-primary;
  }
}

.transparent {
  background: transparent;
  color: $color-white;

  .header-icon {
    font-size: 33px;
    color: $color-white;
  }
}

.space {
  display: block;
  padding-bottom: 70px;
}
