.mask-container {
  height: 88%;
  
  .mask-content {
    height: 100%;
  }

}

.camera {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.camera-actions {
  height: 100%;

  .buttonCamera {
    position: relative;
    z-index: 3;
    padding: 12px 12px 8px 11px;
    border:none;
    border-radius:50%;
    background: #F36F00;
    -webkit-box-shadow: 0px 7px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 46px 0px rgba(0,0,0,0.75);

     i{
      font-size: 2rem;
      color:#fff;
     }
     
   }

}

/* 
* MaskTypes
*/

%camera-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.profile {
  @extend %camera-mask;
  background-image: url('../../../assets/images/people.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.scanner {
  @extend %camera-mask;
  background: blue;
}
 