<section class="content">
  <div class="camera-content">
    <div [hidden]="showVideo" class="camera-mask"></div>
    <div [hidden]="showVideo">
      <video #camera class="camera" autoplay playsinline></video>
    </div>
    <div [hidden]="!showVideo">
      <canvas #viewer></canvas>
    </div>
  </div>

  <button [hidden]="showVideo" class="buttonCamera" (click)="takePicture()">
    <i class="material-icons">camera_alt</i>
  </button>
  
  <button [hidden]="!showVideo" (click)="savePicture()">

  </button>

</section>